body{
    background-image: url(https://duhocchaudaiduong.edu.vn/hinh-nen-may-tinh-4k-1920x1080/imager_70_4812_700.jpg); /*Backgrund på hemsidan*/
    background-size:cover;/*Gör så att bakgrunden täcker hela body*/
    height:96vh;/*Gör så att body är 96vh högt, höjden så att det inte går att scrolla upp och ner på hemsidan*/
}
.wrapper{
    display:grid;/*Gör så att innhållet i wrapper visas i grid form*/
    width:100%;/*Gör så att wrapper täcker hela hemsidan i bredd*/
    height:100%;/*Gör så att wrapper täcker hela hemsidan i höjd*/
    margin:0 auto; /**/
    grid-template-rows: 100px 80px auto 40px;/*Skapar längden på raderna i gridden*/
    grid-template-areas:/*Namnger de olika grid arean*/
    "header"
    "nav"
    "main"
    "footer";
}
header{
  grid-area:header;
  text-align:center;/*centerar texten*/
}
nav{
 grid-area:nav;   
 border: 0.1px solid rgba(135, 206, 250, 0);/*Skapar en border och en färg på bordern*/
 background-color: rgba(135, 206, 250, 0.199);/*Vilken bakgrundsfärg nav ska använda*/
}
main{
    grid-area:main;
}
footer{
    grid-area:footer;
    font-family:Arial, Helvetica, sans-serif;/*Vilken font texten ska använda*/
    border:30px solid #ace5ee00;;
    background-color:rgba(43, 102, 138, 0.384);
    text-align:center;
    font-size:23px;/*Vilken storlek texten har*/
}
nav > ul{
    display:grid;
    text-align:center;
    grid-template-columns: 0.9fr 2fr 1fr;
    list-style-type:none;/*Listorna har ingen style, alltså borttagen punkt*/
    font-size:22px;
    font-family:Arial
    
}
a{
    text-decoration: none;/*Om texten ska vara dekorerad med understreck eller liknanade*/
    color:black;
}
p{
    font-family:Arial;
}
footer>p{
    margin-top:-13px; /*Ändrar så att distansen från toppen av footer och texten är -13px, kunde inte använda margin-bottom av någon anledning så gick top och la negtativ värde*/
}
#ommig main{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: auto;
}
#ommig p{
    font-size: 19px;
}
caption{
    text-align:center;
    font-size:35px;
}
td{
    text-align:center;
    border: 1px solid black; 
    border-collapse:collapse;/*Lägger ihop de lika borders som finns för att inte behöva ha dubbla borders*/
    height:40px;
    margin-bottom:30px;
}
th{
    border: 1px solid black;
    height:40px;
    border-collapse:collapse;
}
table{
    margin: auto; /*Alla distanser till sidorna är automatiska*/
    width:80%; /*Bredden på tabelen är 80%*/
    background-color:rgba(135, 206, 250, 0.39);
    border-collapse:collapse;
}
.tabellbild{
    width:40px;
    display:block; 
}
.mastery{
    height:35px;
    width:28px;
}
.fortnite{
    width:400px;
}
tr:nth-child(even){
  background-color:rgba(0, 0, 139, 0.295);
}
h2{
    font-size:40px;
}
